<div class="column">
  <div class="card">
    <a class="card-media" href="./img-01.jpeg">
      <img [src]="imagePath" [alt]="movie.title" width="100%" />
    </a>
    <div class="card-content">
      <div class="card-header">
        <div class="left-content">
          <h3 style="font-weight: 600">{{ truncatedTitle }}</h3>
          <span style="color: #12efec">released {{ formattedDate }}</span>
        </div>
        <div class="right-content">
          <a [routerLink]="['details', movie.id]" class="card-btn">
            See Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
