.movie-details {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-info {
  max-width: 1400px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.release-date {
  margin-top: 20px;
  font-size: 16px;
  color: #ccc;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

.genres-list {
  margin-top: 20px;
}

.genres-label {
  font-size: 18px;
  font-weight: bold;
}

.genres {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.genres li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.cast-list {
  display: flex;
  flex-wrap: nowrap; /* Prevent cast members from wrapping to new lines */
  justify-content: flex-start; /* Start from the left side */
  margin-top: 30px;
  overflow-x: auto; /* Enable horizontal scrolling */
}
.scroll-buttons {
  display: flex;
  justify-content: center;
}

.scroll-buttons button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.scroll-buttons button:hover {
  background-color: #555;
}
.production-companies-list {
  margin-top: 40px;
  padding: 20px 0;
  background-color: transparent;
  text-align: center;
}

.production-companies-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.companies {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.title {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.sub-infos {
  display: flex;
  align-items: center;
  justify-content: center;
}
