<div class="container">
  <div class="search-box">
    <a href="#">
      <h1>MoviesDB App</h1>
    </a>
    <span>select one or more genres</span>
    <select
      class="genre-select"
      (change)="setSelected($event)"
      [(ngModel)]="selectedOption"
    >
      <option [ngValue]="null" disabled selected></option>
      <option value="{{ genre.id }}" *ngFor="let genre of genres">
        {{ genre.name }}
      </option>
    </select>
    <div class="type">
      <button (click)="switchType('movie')">movies</button>
      <button (click)="switchType('tv')">tv shows</button>
    </div>
    <div class="form">
      <input
        type="text"
        placeholder="Search for a movie..."
        [(ngModel)]="searchText"
        (ngModelChange)="setText($event)"
      />
      <button class="search-btn" (click)="onSearch()">Search</button>
    </div>
  </div>
  <div
    class="seleted-genres"
    *ngIf="
      this.searchModel &&
      this.searchModel.genres &&
      this.searchModel.genres.length > 0
    "
  >
    <app-chip
      *ngFor="let genre of this.searchModel.genres"
      title="{{ genre.name }}"
      (close)="closeSelected(genre.id)"
    ></app-chip>
  </div>
  <br />
</div>
<div class="container">
  <app-movies-list
    [list]="movies$"
    (scroll)="onScroll()"
    *ngIf="type === 'movie'"
  ></app-movies-list>
  <app-tvshows-list
    [list]="tvshows$"
    (scroll)="onScroll()"
    *ngIf="type === 'tv'"
  >
  </app-tvshows-list>
</div>
